\venv
\.idea
*.json
__pycache__
.env
*.pkl
*.txt
*.md

# notebooks
.ipynb_checkpoints

# pytest
.cache

# ignored folders for now
# note unignore first
!literature/
literature/*
!literature/cited/
#!literature/information system success measures/
#!literature/dedupe and resolution/

# latex intermediate produced files
/thesis/*.synctex.gz
/thesis/*.log
/thesis/*.out
/thesis/comment.cut
/thesis/*.blg
/thesis/*.aux

# folders
issues/
docs/
/docs/IMG/*
**/acmart-master
**/ThesisTemplate

# latex files
*.log
*.aux
*.synctex.*
*.bbl
*.blg
*.out

