\venv
\.idea
*.json
__pycache__
.env

# notebooks
.ipynb_checkpoints

# pytest
.cache

# ignored folders for now
/literature
/issues
/docs

# latex intermediate produced files
/thesis/*.synctex.gz
/thesis/*.log
/thesis/*.out
/thesis/comment.cut
/thesis/*.blg
/thesis/*.aux

# folders
/docs/IMG/*
**/acmart-master
**/ThesisTemplate



