{% extends "bootstrap/base.html" %}
{% block title %}IIS{% endblock %}


{% block navbar %}
    {% set navigation_bar = [
        ('/', 'home', 'Home'),
        ('/entities/', 'entities', 'Entities'),
        ('/process/', 'process', 'Process'),
    ] -%}

    {% set active_page = active_page|default('index') -%}

    <ul class="nav nav-tabs">
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif
        %}><a href="{{ href }}">{{ caption }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
